<html>
  <head>

    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>

    <div class="main-content">
       
       {{>header}}
      
       <p>The purpose of this website is to get live weather data</p>

       <br>
       <h3>Owner of the site</h3>
       <img class="portrait" src="./images/photo2022.png" alt="myphoto" />

    </div>

    {{>footer}}
</body>
</html>