<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>

    <div class="main-content">

       {{>header}}
       <p> You can email us : mvtejareddy@gmail.com</p>
       <p>Contact info : 8328669788</p>
      
    </div>
    
    {{>footer}}
  </body>
</html>